<!DOCTYPE html> 
<html>
    <head>
        <title>ToDo List</title>
        <style>
        .error-box {
          background-color: #fdd;
          border: 1px solid #faa;
          padding: 10px; 
          color: #d00;
        }

        .error-box p {  
          margin: 0;
        }

        .error-box p:before {  
          content: "❌ ";
          color: #d00;  
        }

        .button-style {  
          padding: 10px 20px;  
          background-color: #ccc;  
          border-radius: 5px;  
          text-decoration: none;  
          color: black;  
          transition: background-color 0.3s ease;
        }

        .button-style:hover {  
          background-color: #aaa;  
        }

        .button-style:active {  
          background-color: #999;  
        }
        
        .content {
          width: 50%;  
          margin: 0 auto;  
          text-align: left; 
        }

        </style>
    </head>
    <body>
        {% if error %}
        <div class='error-box'>
            <p>{{ error }}</p>
        </div>
        {% endif %}

        <h1 style="text-align: center">Your personal ToDo App!</h1>
        <div class='content'>
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>
