{% extends "base.html" %}

{% block content %}
 <h1>Add ToDo</h1>

<form action="/" method="POST" id="close-todo">
    <input type="hidden" name="state" value="{{ currentState }}">
    <input type="hidden" name="event" value="CLOSE">
</form>

<a class='button-style' href="#" onclick="document.getElementById('close-todo').submit()">Close</a>
<a class='button-style' href="#" onclick="document.getElementById('add-todo').submit()">Add</a>

<p></p>
<form action="/" method="POST" id="add-todo">
    <label for="title"> Title:</label>
    <input type="text" name="title">
    <br>
    <label for="title"> Text:</label>
    <input type="text" name="text">
    <input type="hidden" name="state" value="{{ currentState }}">
    <input type="hidden" name="event" value="ADD_TODO">
</form>

{% endblock %}
