{% extends "base.html" %}

{% block content %}
 <h1>ToDo</h1>

<form action="/" method="POST" id="close-todo">
    <input type="hidden" name="state" value="{{ currentState }}">
    <input type="hidden" name="event" value="CLOSE">
</form>

<a class='button-style' href="#" onclick="document.getElementById('close-todo').submit()">Close</a>

<p></p>
<form id="add-todo">
    <label for="title"> Title:</label>
    <input type="text" name="title" value="{{ todo.title }}" disabled>
    <br>
    <label for="title"> Text:</label>
    <input type="text" name="text" value="{{ todo.text|safe }}" disabled>
    <input type="hidden" name="state" value="{{ currentState }}">
    <input type="hidden" name="event" value="ADD_TODO">
</form>

{% endblock %}
