{% extends "base.html" %}

{% block content %}
 <h1>Welcome!</h1>

<form action="/" method="POST" id="show-todo-list">
    <input type="hidden" name="state" value="{{ currentState }}">
    <input type="hidden" name="event" value="LIST_TODOS">
</form>
<form action="/" method="POST" id="add-todo-item">
    <input type="hidden" name="state" value="{{ currentState }}">
    <input type="hidden" name="event" value="ADD_TODO">
</form>

<a class='button-style' href="#" onclick="document.getElementById('show-todo-list').submit()">Show ToDo List</a>
<a class='button-style' href="#" onclick="document.getElementById('add-todo-item').submit()">Add a new ToDo</a>

{% endblock %}
