{% extends "base.html" %}

{% block content %}
 <h1>ToDo List</h1>

<form action="/" method="POST" id="close-todo-list">
    <input type="hidden" name="state" value="{{ currentState }}">
    <input type="hidden" name="event" value="CLOSE">
</form>

<a class='button-style' href="#" onclick="document.getElementById('close-todo-list').submit()">Close</a>

{% for todo in todos %} 
<form action="/" method="POST" id="show-todo-{{todo.tid}}">
    <input type="hidden" name="tid" value="{{ todo.tid }}">
    <input type="hidden" name="state" value="{{ currentState }}">
    <input type="hidden" name="event" value="OPEN_TODO">
</form>
<p> {{ todo.title }} </p>
<a class='button-style' href="#" onclick="document.getElementById('show-todo-{{todo.tid}}').submit()">Show</a>
{% endfor %}

{% endblock %}
